.content-section {
  margin: 0 auto;
  background: var(--opaque-white);
  padding: 2rem 1rem;
  width: calc(100% - 3rem);
  max-width: 1024px;
}
.content-section.round-top-borders {
  border-radius: 1rem 1rem 0 0;
}
.content-section.round-bottom-borders {
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}
.content-section-flower {
  width: 42rem;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.content-section h2 {
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.content-section h2::after {
  content: "";
  position: absolute;
  width: calc(100% + 2rem);
  height: 0.125rem;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.125rem;
  background: var(--grey-orange);
}
.content-section hr {
  border-top: 1px solid var(--grey-orange);
  margin: 3rem 0;
}
.content-section img {
  max-width: 100%;
  border-radius: 1rem;
}
@media screen and (min-width: 64rem) {
  .content-section {
    padding: 2rem 6rem;
  }
}
