/* Vars and common page elements */
@font-face {
  font-family: "roxborough-cf";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("https://wedding-website-one-olive.vercel.app/fonts/roxborough-cf-regular.woff2")
      format("woff2"),
    url("https://wedding-website-one-olive.vercel.app/fonts/roxborough-cf-regular.woff")
      format("woff");
}
* {
  --grey-purple: #674d98;
}
p[class*=" Textstyles"],
a[class*=" Textstyles"] {
  font-family: "roxborough-cf", "Cinzel", sans-serif;
}
#accommodations div {
  font-family: "roxborough-cf", "Cinzel", sans-serif !important;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: var(--grey-purple);
  color: #fff;
  font-family: "roxborough-cf", "Cinzel", sans-serif;
}
button > a {
  color: #fff !important;
  text-decoration: none !important;
  padding: 1rem;
}
button[class*=" MenuButtonstyles"] > div {
  background-color: var(--grey-purple);
}
div[class*=" AiBorderBoxstyles"] div:not(:first-of-type) {
  background-color: var(--grey-purple) !important;
}
button svg path[stroke] {
  stroke: #fff !important;
}
button svg path[fill] {
  fill: #fff !important;
}
div[data-layer="middle"] {
  background-color: unset !important;
}
div[class*=" EventMenu"] > div:first-of-type > p,
div[class*=" EventNameNavstyles__StyledTitle"] > p {
  font-family: "Alex Brush", cursive;
  color: var(--grey-purple);
}

/* Mobile menu */
div[class*=" Modalstyles"] > button[aria-label="Close"] {
  top: 1.25rem;
  right: 1rem;
}
div[class*=" EventMenu"] > div:nth-of-type(2) > div > button {
  border-radius: 2rem;
}
div[class*=" EventMenu"] > div:nth-of-type(2) > div > button > div {
  color: #fff;
}
div[class*=" EventMenu"] > div:first-of-type > p {
  text-align: center;
  font-size: 5rem;
  margin-top: 2.5rem;
  line-height: 1;
}

/* Elements with background images */
/* Page background */
div[data-layer="back"] {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/background-blue.webp) !important;
}
/* White chalk background */
div[data-component="title-banner"] > div > div,
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2) {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/background-chalk.webp);
}
/* Gold hexagon background */
div[class*=" EventNameNavstyles__StyledTitle"] {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/gold-hexagon-shaped=rings-with-purple-flowers.webp);
}
/* Vibrant flowers background */
div[data-layer="back"]::before,
div[data-layer="back"] > div::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/vibrant-blue-flowers-facing-down.webp);
}
div[data-layer="back"] > div::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/vibrant-blue-flowers-facing-up.webp);
}
/* Faded flowers background */
div[data-layer="back"]::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/faded-blue-flowers-facing-up.webp);
}

/* Pseudo elements */
div[data-layer="back"]::before,
div[data-layer="back"]::after,
div[data-layer="back"] > div::before,
div[data-layer="back"] > div::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after,
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after,
div[data-component="title-banner"] nav > ul::before,
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  content: "";
  display: block;
}

/* Page background */
div[data-layer="back"]::before,
div[data-layer="back"]::after,
div[data-layer="back"] > div::before,
div[data-layer="back"] > div::after {
  position: fixed;
  background-size: cover;
  animation-composition: add;
}
div[data-layer="back"]::before,
div[data-layer="back"] > div::before {
  animation: fade-in 7s 1 ease-in-out,
    floral-breathe-t 40s infinite 0s ease-in-out;
}
div[data-layer="back"]::after,
div[data-layer="back"] > div::after {
  animation: fade-in 7s 1 ease-in-out,
    floral-breathe-b 40s infinite 0s ease-in-out;
}
div[data-layer="back"]::before,
div[data-layer="back"]::after {
  width: 29.6rem;
  height: 26.2rem;
}
div[data-layer="back"]::before {
  top: -5.6rem;
  left: -15.45rem;
  transform: rotate(70deg);
}
div[data-layer="back"]::after {
  bottom: 3.35rem;
  right: -28.55rem;
  transform: rotate(-70deg);
  animation-delay: 0.5s;
  transform-origin: bottom;
}
div[data-layer="back"] > div::before {
  top: -12.95rem;
  right: -19rem;
  width: 34.2rem;
  height: 30rem;
  animation-delay: 1s;
}
div[data-layer="back"] > div::after {
  bottom: -21.45rem;
  left: -19.6rem;
  width: 38.45rem;
  height: 34.5rem;
  transform: rotate(-16deg);
  animation-delay: 1.5s;
}
div[data-layer="back"] > div,
div[data-layer="back"] > div > div {
  position: relative;
  z-index: 1;
}
div[data-layer="back"] > div > div {
  width: calc(100% - 14rem);
}

/* Title banner */
div[data-component="title-banner"] {
  margin-bottom: 12rem;
}
div[data-component="title-banner"] > div > div {
  background-position: 3rem center;
  background-size: 94%;
  background-repeat: no-repeat;
}
div[class*=" EventNameNavstyles__StyledTitle"] {
  aspect-ratio: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 3s 1 2s ease-in-out,
    ring-breathe 40s infinite 0s ease-in-out;
  max-width: 720px;
}
div[class*=" EventNameNavstyles__StyledTitle"] > p {
  display: block;
  max-width: 250px;
  font-size: 6.5rem;
  line-height: 0.89;
  animation: fade-in 3s 1 2s ease-in-out,
    title-breathe 40s infinite 0s ease-in-out;
}

/* Nav */
div[class*=" StickyNavBarstyles__StyledStickyContainer"] {
  background-color: transparent;
  backdrop-filter: unset;
  top: 2rem;
  opacity: 0.8;
  transition-property: all;
}
div[class*=" StickyNavBarstyles__StyledStickyContainer"]:hover {
  opacity: 1;
}
div[data-component="title-banner"] nav,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav {
  position: relative;
}
div[data-component="title-banner"] nav {
  padding-top: 0;
  top: 6rem;
}
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after {
  position: absolute;
  inset: -12%;
  top: -10%;
  bottom: -28%;
  background-size: 103% 215%;
  background-position: 50% 267%;
  z-index: 0;
  transform: scaleX(-1);
}
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after {
  transform: rotate(180deg) scaleX(-1);
  top: -50%;
  bottom: 26%;
}
div[data-component="title-banner"] nav > ul,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul {
  position: relative;
  z-index: 1;
}

div[data-component="title-banner"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before,
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  position: absolute;
  background-size: contain;
}
div[data-component="title-banner"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/dark-purple-flowers-lying-on-front-ltr.webp);
  width: 19rem;
  height: 10rem;
  top: -5rem;
  right: -10rem;
  transform: rotate(20deg);
}
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/light-purple-flowers-lying-on-back-rtl.webp);
  top: -2.5rem;
  left: -9.5rem;
  width: 16rem;
  transform: rotate(44deg);
  height: 9rem;
}

/* RSVP */
div[data-layer="middle"] > .joykit-box:nth-of-type(2) {
  background-size: 100%;
  background-position: 2rem center;
  background-repeat: no-repeat;
  padding-bottom: 13.5rem;
  padding-top: 13.5rem;
  margin-top: 3rem;
  position: relative;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
  position: absolute;
  background-size: cover;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/light-purple-flowers-lying-on-front-rtl.webp);
  top: 3rem;
  left: -1rem;
  width: 19rem;
  height: 10.5rem;
  transform: rotate(-16deg);
  transform-origin: right top;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/dark-purple-flowers-lying-on-back-rtl.webp);
  bottom: 15.4rem;
  right: -5.5rem;
  width: 20.8rem;
  height: 10.8rem;
  transform: rotate(-70deg);
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2) > div {
  justify-content: center;
  align-items: center;
}
div[data-layer="middle"]
  > .joykit-box:nth-of-type(2)
  > div
  > div:first-of-type {
  display: none;
}
div[class*=" EventLogisticBlockstyles"] > div > div > p {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.5em;
}

/* Story */

/* Where to Stay */

/* Schedule */

/* Registry */

/* Travel */

/* Q&A */

/* Wedding Party */

/* Moments */

/* Get the app */

/* Media Queries */
@media screen and (min-width: 64em) {
  /* Page background */
  div[data-layer="back"]::before,
  div[data-layer="back"]::after {
    width: 35.6rem;
    height: 28.2rem;
  }
  div[data-layer="back"] > div::before {
    width: 35.7rem;
    height: 31rem;
  }
  div[data-layer="back"] > div::after {
    width: 40.45rem;
    height: 35.5rem;
  }

  /* RSVP */
  div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before {
    top: -3.5rem;
    left: -5.5rem;
    width: 23.5rem;
    height: 12.9rem;
    transform: rotate(-35deg);
  }
  div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
    bottom: 12.4rem;
    right: -6rem;
    width: 25.8rem;
    height: 13.8rem;
    transform: rotate(-82deg);
  }
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ring-breathe {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.025) rotate(3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.025) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes title-breathe {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.975) rotate(-3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(0.975) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes floral-breathe-t {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.04) rotate(-5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.04) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes floral-breathe-b {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.04) rotate(5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.04) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
