/* Vars and common page elements */
@font-face {
  font-family: "roxborough-cf";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("https://wedding-website-one-olive.vercel.app/fonts/roxborough-cf-regular.woff2")
      format("woff2"),
    url("https://wedding-website-one-olive.vercel.app/fonts/roxborough-cf-regular.woff")
      format("woff");
}
* {
  --grey-purple: #674d98;
}
p[class*=" Textstyles"],
a[class*=" Textstyles"] {
  font-family: "roxborough-cf", "Cinzel", sans-serif;
}
#accommodations div {
  font-family: "roxborough-cf", "Cinzel", sans-serif !important;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: var(--grey-purple);
  color: #fff;
  font-family: "roxborough-cf", "Cinzel", sans-serif;
}
button > a {
  color: #fff !important;
  text-decoration: none !important;
  padding: 1rem;
}
div[class*=" AiBorderBoxstyles"] div:not(:first-of-type) {
  background-color: var(--grey-purple) !important;
}
button svg path[stroke] {
  stroke: #fff !important;
}
button svg path[fill] {
  fill: #fff !important;
}
div[data-layer="middle"] {
  background-color: unset !important;
}

/* Elements with background images */
/* Page background */
div[data-layer="back"] {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/background-blue.webp) !important;
}
/* White chalk background */
div[data-component="title-banner"] > div > div,
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2) {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/background-chalk.webp);
}
/* Gold hexagon background */
div[class*=" EventNameNavstyles__StyledTitle"] {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/gold-hexagon-shaped=rings-with-purple-flowers.webp);
}
/* Vibrant flowers background */
div[data-layer="back"]::before,
div[data-layer="back"] > div::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/vibrant-blue-flowers-facing-down.webp);
}
div[data-layer="back"] > div::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/vibrant-blue-flowers-facing-up.webp);
}
/* Faded flowers background */
div[data-layer="back"]::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/faded-blue-flowers-facing-up.webp);
}

/* Pseudo elements */
div[data-layer="back"]::before,
div[data-layer="back"]::after,
div[data-layer="back"] > div::before,
div[data-layer="back"] > div::after,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after,
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after,
div[data-component="title-banner"] nav > ul::before,
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  content: "";
  display: block;
}

/* Page background */
div[data-layer="back"]::before,
div[data-layer="back"]::after,
div[data-layer="back"] > div::before,
div[data-layer="back"] > div::after {
  position: fixed;
  background-size: cover;
  animation-composition: add;
}
div[data-layer="back"]::before,
div[data-layer="back"] > div::before {
  animation: fade-in 7s 1 ease-in-out,
    floral-breathe-t 40s infinite 0s ease-in-out;
}
div[data-layer="back"]::after,
div[data-layer="back"] > div::after {
  animation: fade-in 7s 1 ease-in-out,
    floral-breathe-b 40s infinite 0s ease-in-out;
}
div[data-layer="back"]::before,
div[data-layer="back"]::after {
  width: 30%;
  height: 50%;
}
div[data-layer="back"]::before {
  top: -10%;
  left: -13%;
  transform: rotate(70deg);
}
div[data-layer="back"]::after {
  bottom: 6%;
  right: -24%;
  transform: rotate(-70deg);
  animation-delay: 0.5s;
  transform-origin: bottom;
}
div[data-layer="back"] > div::before {
  top: -23%;
  right: -16%;
  width: 30%;
  height: 55%;
  animation-delay: 1s;
}
div[data-layer="back"] > div::after {
  bottom: -38%;
  left: -16.5%;
  width: 34%;
  height: 63%;
  transform: rotate(-16deg);
  animation-delay: 1.5s;
}

/* Title banner */
div[data-component="title-banner"] {
  margin-bottom: 12rem;
}
div[data-component="title-banner"] > div > div {
  background-position: 2rem center;
  background-size: 94%;
}
div[data-component="title-banner"] > div > div {
  background-position: 1rem center;
}
div[class*=" EventNameNavstyles__StyledTitle"] {
  aspect-ratio: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 7s 1 2s ease-in-out,
    ring-breathe 40s infinite 0s ease-in-out;
}
div[class*=" EventNameNavstyles__StyledTitle"] > p {
  font-family: "Alex Brush", cursive;
  color: var(--grey-purple);
  display: block;
  max-width: 250px;
  font-size: 6.5rem;
  line-height: 0.89;
  animation: fade-in 7s 1 2s ease-in-out,
    title-breathe 40s infinite 0s ease-in-out;
}

/* Nav */
div[class*=" StickyNavBarstyles__StyledStickyContainer"] {
  background-color: transparent;
  backdrop-filter: unset;
  top: 2rem;
  opacity: 0.8;
  transition-property: all;
}
div[class*=" StickyNavBarstyles__StyledStickyContainer"]:hover {
  opacity: 1;
}
div[data-component="title-banner"] nav,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav {
  position: relative;
}
div[data-component="title-banner"] nav {
  padding-top: 0;
  top: 6rem;
}
div[data-component="title-banner"] nav::before,
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after {
  position: absolute;
  inset: -12%;
  top: -10%;
  bottom: -28%;
  background-size: 103% 215%;
  background-position: 50% 267%;
  z-index: 0;
}
div[data-component="title-banner"] nav::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav::after {
  transform: rotate(180deg);
  top: -50%;
  bottom: 26%;
}
div[data-component="title-banner"] nav > ul,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul {
  position: relative;
  z-index: 1;
}

div[data-component="title-banner"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before,
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  position: absolute;
  background-size: contain;
}
div[data-component="title-banner"] nav > ul::before,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::before {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/dark-purple-flowers-lying-on-front-rtl.webp);
  width: 19rem;
  height: 10rem;
  top: -5rem;
  left: -10rem;
  transform: rotate(-20deg);
}
div[data-component="title-banner"] nav > ul::after,
div[class*=" StickyNavBarstyles__StyledStickyContainer"] nav > ul::after {
  background-image: url(https://wedding-website-one-olive.vercel.app/images/light-purple-flowers-lying-on-back-ltr.webp);
  top: -2.5rem;
  right: -9.5rem;
  width: 16rem;
  transform: rotate(-44deg);
  height: 9rem;
}
/* RSVP */
div[data-layer="middle"] > .joykit-box:nth-of-type(2) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 13.5rem;
  padding-top: 13.5rem;
  margin-top: 3rem;
  position: relative;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before,
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
  position: absolute;
  background-size: cover;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::before {
  top: -4rem;
  left: -1rem;
  width: 54%;
  height: 54%;
}
div[data-layer="middle"] > .joykit-box:nth-of-type(2)::after {
  bottom: 0rem;
  right: -4.5rem;
  width: 45%;
  height: 54%;
  transform: rotate(-40deg);
}

/* Story */

/* Where to Stay */

/* Schedule */

/* Registry */

/* Travel */

/* Q&A */

/* Wedding Party */

/* Moments */

/* Get the app */

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ring-breathe {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.025) rotate(3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.025) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes title-breathe {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.975) rotate(-3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(0.975) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes floral-breathe-t {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.04) rotate(-5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.04) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes floral-breathe-b {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.04) rotate(5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.04) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
